$color: #8c8c8c;
$alpha: 0.4;
$box-shadow: inset 0 0 6px 0 rgba($color: #000000, $alpha: 0.5);
$clWhite: #fff;

.animation_wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    .slide_container {
        margin: 100px 0 0 20px;
        width: 400px;
        height: 600px;
        overflow-y: auto;
        box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.5);
        &::-webkit-scrollbar {
            visibility: hidden;
            width: 0;
        }
        .slide {
            // transition: 0.2s transform ease-in;
            transition-duration: 300ms;
            width: 100%;
            height: 80px;
            line-height: 80px;
            user-select: none;
            box-shadow: $box-shadow;
            background: $clWhite;
            &.move-on {
                opacity: 0;
            }
        }
    }
    .move_container {
        background: $clWhite;
        line-height: 80px;
        position: fixed;
        z-index: 1;
        opacity: 0;
        top: 0;
        left: 0;
        width: 400px;
        height: 80px;
        box-shadow: $box-shadow;
        &.visible {
            opacity: 1;
        }
    }
}