* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

#swiper {
    height: 500px;
    width: 80vw;
    margin: 100px auto;
    position: relative;
}

.slide_wrap {
    height: 100%;
    width: 480vw;
    white-space: nowrap;
    font-size: 0;
    /* transition: transform 0.4s; */
    animation: loop 10s linear infinite;
}

.slide {
    height: 100%;
    width: 80vw;
    display: inline-block;
    justify-content: center;
    align-self: center;
    font-size: 60px;
    line-height: 500px;
    text-align: center;
}

.slide:nth-child(even) {
    background: red;
}

.slide:nth-child(odd) {
    background: yellowgreen;
}

@keyframes loop {
    0%, 15% {
        transform: translateX(0);
    }

    25%, 35% {
        transform: translateX(-80vw);
    }

    45%, 55% {
        transform: translateX(-160vw);
    }

    65%, 75% {
        transform: translateX(-240vw);
    }

    85%, 95% {
        transform: translateX(-320vw);
    }
}